.auth {
    background-image: url("../img/lion-king-of-zoo.jpg"); 
     background-size: cover; 
     width: 100vw; 
     height: 100vh;      
}
div .card {
    width: 30%; 
    margin: 0 auto;
    
}
div .card-body {
    display: flex;
    flex-flow: column;
}
input {
    margin-top: .5rem;
}
.card-body button {
     margin-top: .5rem;
}

.card h2{
    text-align: center;

}
.noauth {
    background-image: url("../img/lion-king-of-zoo.jpg"); 
     background-size: cover; 
     width: 100vw; 
     height: 100vh;
     display: flex;
     align-items: center;
      
}